.search-input {
  display: flex;
  width: 100%;
  background-color: rgb(214, 214, 214);
  border: none;
  padding: 10px 30px 10px 40px;
  outline: none;
  border-radius: 15px;
  font-size: 14px;
}

.search-input::placeholder {
  font-size: 14px;
}

.search-input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.search-input-container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-60%);
  left: 15px;
  background-image: url(../../images/buttons/search.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
